<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TSCKOPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="application-name" content="sprFlat admin template"/>
    <link href="/static/assets/css/icons.css" rel="stylesheet"/>
    <link href="/static/assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet"/>
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/assets/css/plugins.css" rel="stylesheet"/>
    <link href="/static/assets/css/main.css" rel="stylesheet"/>
    <link href="/static/assets/css/custom.css" rel="stylesheet"/>
    <link href="/static/assets/css/icons.css" rel="stylesheet"/>
    <link rel="icon" href="/static/assets/img/ico/favicon.ico" type="image/png">
    <meta name="msapplication-TileColor" content="#3399cc"/>


</head>
<body style="overflow-y: auto;">

{% block body %}

{% endblock %}

<!-- Javascripts -->
<script src="/static/assets/plugins/core/pace/pace.min.js"></script>
<script src="/static/assets/js/jquery-3.3.1.js"></script>
<script src="/static/assets/js/jquery-ui.js"></script>
<script src="/static/assets/js/bootstrap/bootstrap.js"></script>
<script src="/static/assets/js/jRespond.min.js"></script>
<script src="/static/assets/js/user-operation.js"></script>
<script src="/static/assets/js/order-operation.js"></script>
{#<script src="/static/assets/js/layer.js"></script>#}

</body>
</html>