{% extends 'backend/backend_index.html' %}

{% block pro_name %}{{ menu_info.0 }}{% endblock %}

{% block pro_in_name %}{{ menu_info.0 }}{% endblock %}

{% block icon_name %}{{ menu_info.1 }}{% endblock %}

{% block icon_in_name %}{{ menu_info.1 }}{% endblock %}

{% block this_url %}{{ menu_info.2 }}{% endblock %}



{% block page_body %}

    <div class="panel-body">


        <div style="display: inline-block; float: right" class="dataTables_filter" id="datatable1_filter">
            <form method="get" action="#">
                {% csrf_token %}
                <label>
                    <div style="display: inline-block; float: left;margin-right: 5px">
                        <input type="search" class="form-control input-large" name="q" placeholder="只支持标题" aria-controls="datatable1">
                    </div>
                    <div style="display: inline-block; float: right">
                        <button type="submit" class="btn btn-default" >搜索</button>
                    </div>
                </label>
            </form>
        </div>



        <table class="table table-bordered" id="otherOrderId">
            <thead>
            <tr>
                <th>工单标题</th>
                <th>项目名称</th>
                <th>变更环境</th>
                <th>状态</th>
                <th>创建者</th>
                <th>创建时间</th>
                <th>处理者</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>

            {% for row in work_list %}
                <tr nid="{{ row.id }}">
                    <td na="nid" style="display: none">{{ row.id }}</td>
                    <td na="detail" style="display: none">{{ row.detail }}</td>
                    {% if row.title|length >= 10 %}
                        <td na="title" ><a href="#" class="show-detail-ok">{{ row.title|slice:"10" }}...</a></td>
                    {% else %}
                        <td na="title" ><a href="#" class="show-detail-ok">{{ row.title }}</a></td>
                    {% endif %}
                    <td na="project_name" pid="{{ row.project_name.id }}">{{ row.project_name.project_name }}</td>
                    <td na="env" eid="{{ row.env_label.id }}">{{ row.env_label.env }}</td>
                    <td>{{ row.get_handle_status_display }}</td>
                    <td uid="{{ row.creator.id }}"><a href="#" class="show-creator-info">{{ row.creator.realname }}</a></td>
                    <td>{{ row.create_time|date:"Y-m-d H:i:s" }}</td>
                    <td uid="{{ row.handler.id }}"><a href="#" class="show-handler-info">{{ row.handler.realname }}</a></td>
                    <td>
                        {% if row.handle_status == 1 and row.role_status == 1 %}
                            <a class="btn btn-purple btn-xs ops-order-edit-row" href="#">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                处理
                            </a>
                        {% else %}
                            {% if row.role_status == 2 %}
                                <a class="btn btn-info btn-xs ops-result-show" href="#">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    运维已变更
                                </a>
                            {% elif row.role_status == 3 %}
                                {% if row.handle_status == 4 %}
                                    <a class="btn btn-pink btn-xs test-result-show" href="#">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        测试失败|查看
                                    </a>
                                {% else %}
                                    <a class="btn btn-success btn-xs test-result-show" href="#">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        测试完成
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>

        <div class="dataTables_paginate paging_bs_full">
            <ul class="pagination left small" style="margin-top: 0">
                {{ page_obj.page_str|safe }}
            </ul>
        </div>


    </div>

{% endblock %}







